<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<form action="/add" method="POST">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--    csrf 켤때 모든 폼에 위 input을 추가해야함, 랜덤문자를 서버로 함께 전달함,
서버는 발금했던 문자와 맞는 지확인하고 맞다면 통과 => 이게 csrf 보안기능
다만 AJAX로 보낼때에도 csrf 토큰을 함께 보내야함 -->

    <input name="title" placeholder="상품명">
    <input name="price" placeholder="가격">
    <button type="submit">버튼</button>
</form>
</body>
</html>